@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .tab-trigger {
  @apply rounded-none bg-transparent px-0 text-[11px] font-black uppercase tracking-[0.15em] text-slate-400 shadow-none border-b-2 border-transparent transition-all;
}

.tab-trigger[data-state="active"] {
  @apply border-blue-600 text-blue-600;
}
}